body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-image: url('OIG-modified.jpg'); /* Ruta de la imagen del logo */
    background-size: cover; /* La imagen ocupará todo el contenedor */
    background-position: center center; /* Centra la imagen */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.social-links a {
    font-size: 24px;
}

#playButton, #pauseButton {
    margin-top: 20px;
}
