
body {
    background-color: #000; /* Fondo negro */
    color: #ffffff; /* Color de texto en tono azul claro */
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0;
    padding: 0;
    /* background-image: url('../assets/ParteCentral.jpeg'); */
    background-size: cover; 
    background-attachment: fixed
}

header {
    display: grid;
    grid-template-columns: 30fr 40fr 30fr; 
    /* background-color: #333; Fondo del encabezado en un tono más oscuro de azul */
    color: #fff; /* Color del texto en el encabezado */
    padding: 10px 0;
    text-align: center;
    background-size: 1000px 170px; 
    background-attachment: fixed;
}

header h1{
        margin-top: 0px;
}

.content-buttons{
    margin: 0 1%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; /* Color del enlace en el encabezado */
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    display: grid;
    grid-template-columns: 30fr 40fr 30fr; 
    background-color: #333; /* Fondo del pie de página en un tono más oscuro de azul */
    color: #fff; /* Color del texto en el pie de página */
    background-image: url('../assets/ParteInferior.jpeg'); 
    background-size: 1000px 170px; 
    background-attachment: fixed;
    padding: 20px 0;
}

footer .content-footer-2{
    text-align: center;
}
footer .content-footer-3{
    text-align: center;
}

/* Estilos para el formulario de contacto */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}


/* Estilos para el formulario de contacto */

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#contacto .contenedor-contacto {
    text-align: center;
    font-size: 20px; /* Tamaño de fuente para el contenido de la sección "Contactanos" */
    display: grid;
    grid-template-columns: 50fr 50fr;
}

#contacto .red-social {
    display: flex;
    justify-content: center;
}

#contacto .red-social img {
    margin-right: 10px;
}

.grilla-programacion {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.grilla-programacion th, .grilla-programacion td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: rgb(142, 192, 123);
}

.grilla-programacion th {
    background-color: #000000; /* Color de fondo para las celdas de encabezado */
}

.grilla-programacion tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para las filas pares */
}

.grilla-programacion tr:hover {
    background-color: #856e6e; /* Cambia el color de fondo al pasar el mouse sobre una fila */
}


.footer-text {
    font-size: 18px; /* Tamaño del texto */
    color: #fff; /* Color del texto */
}




.s-button {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding: 0 1.5em; /* Ajusta el padding para agrandar el recuadro */
    line-height: 42px;
    border: solid 1px rgba(255, 255, 255, 0.808);
    border-radius: 50px;
    text-decoration: none;
    background-color: transparent; /* Fondo transparente */
}

.s-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: green; /* Cambia el color del botón a verde */
    border-radius: inherit;
    opacity: 0.5; /* Cambia la opacidad del fondo a la mitad */
    z-index: -1;
}


.s-button::after {
    content: '';
    position: absolute;
    top: 30%; /* Ajusta la posición vertical de la luz roja */
    right: 6px; /* Ajusta la posición horizontal de la luz roja */
    width: 13px; /* Ajusta el ancho de la luz roja */
    height: 15px; /* Ajusta la altura de la luz roja */
    border-radius: 50%;
    background-color: red;
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}



.inicio__content{
    display: grid;
    grid-template-columns: 60fr 40fr;
}

.inicio__content-1 , .inicio__content-2 {
    padding:20px;
}

.clima-container__contenedor-economia{
    display: flex;
}

.clima-container__contenedor-economia .content-item{
    width: 200px; 
    height: 260px;
    border-radius: 20px; 
    box-shadow: 2px 4px 3px rgb(0 0 0 / 25%); 
    border: 1px solid #bcbcbc;
    background: white;
    padding: 9px;
    margin: 5px;
}

